<!DOCTYPE html>
<html lang="en">

<head>
  <title>Node-BoilerPlate</title>
  <%- include("../partials/site-master.ejs") %>
</head>

<body class="container">


  <main>
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>
    </div>
  </main>

  <footer>
  </footer>

  <!-- JS Files -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>

</body>

</html>